@using Benchmark_14.Models

<div class="mx-auto w-75 bg-dark p-3">
    <div class="container table table-bordered border border-secondary bg-white ">
        <div class="row">

            <div class="col-3">
                Id Violazione
            </div>

            <div class="col-9">

                Descrizione
            </div>
        </div>
    </div>
    @foreach (TipoViolazione tipo in Model)
    {
        <div class="container table table-bordered border border-secondary bg-white ">
            <div class="row">

                <div class="col-3">
                    @tipo.IdViolazione
                </div>

                <div class="col-9">
                    @tipo.Descrizione

                </div>
            </div>
        </div>
    }
</div>
