@{
    ViewBag.Title = "Home Page";
}

<a href="Home/AnagrafeSelect" class="btn btn-primary">Visualizza tabella anagrafe</a>
<a href="Home/VerbaleSelect" class="btn btn-primary">Visualizza tabella verbali</a>
<a href="Home/ViolazioneSelect" class="btn btn-primary">Visualizza tabella violazioni</a>