@using Benchmark_14.Models

<h2>Totale verbali per trasgressore</h2>
<div class="bg-success">
    <div class="container table table-bordered border border-dark ">
        <div class="row">

            <div class="col-6">
                <strong>Totale Verbali</strong>
            </div>

            <div class="col-6">
                <strong>Nome</strong>

            </div>
        </div>
    </div>
    @foreach (Dipartimento item in Model)
    {
        <div class="container table table-bordered border border-dark">
            <div class="row">

                <div class="col-6">
                    @item.TotVerbali
                </div>

                <div class="col-6">
                    @item.Nome

                </div>
            </div>
        </div>
    }
</div>